@use "@styles/settings/variables" as *;
@use "@styles/tools/functions" as *;
@use "@styles/tools/mixins" as *;

.card {
    box-shadow: var(--shadow-overlay);
    border-radius: $border-overlay-radius;

    &__header {
        overflow: hidden;
        border-top-left-radius: $border-overlay-radius;
        border-top-right-radius: $border-overlay-radius;
        position: relative;

        @include media(mobile) {
            width: to-rem(360px);
        }

        @include media(tablet) {
            width: to-rem(264px);
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        aspect-ratio: 16 / 9;
    }

    &__tag {
        position: absolute;
        right: to-rem(12px);
        top: to-rem(12px);
        font-weight: 500;
        font-size: to-rem(10px);
        line-height: to-rem(12px);
        color: var(--card-tag-fg);
        background: var(--card-tag-bg);
        padding: to-rem(4px 8px);
        border-radius: to-rem(6px);
        text-transform: capitalize;
        pointer-events: none;
    }

    &__body {
        padding: to-rem(12px);
        gap: to-rem(8px);
        text-align: left;
        display: flex;
        flex-direction: column;
        background: var(--card-body-bg);

        @include media(tablet) {
            min-height: to-rem(152px);
        }
    }

    &__pretitle {
        font-weight: 500;
        font-size: to-rem(12px);
        line-height: to-rem(14px);
        color: var(--card-fg);
    }

    &__title {
        font-weight: 700;
        font-size: to-rem(18px);
        line-height: to-rem(22px);
        color: var(--card-fg);

        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__description {
        font-weight: 300;
        font-size: to-rem(14px);
        line-height: to-rem(18px);
        color: var(--card-fg);

        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__footer {
        border-bottom-left-radius: $border-overlay-radius;
        border-bottom-right-radius: $border-overlay-radius;
        padding: to-rem(12px);
        background: var(--card-footer-bg);

        display: grid;
        gap: to-rem(4px);
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto 0 auto;

        grid-template-areas:
            ". cf-price-label"
            "cf-show-details cf-price-value"
            ". ."
            "cf-button cf-button";

        @include media(tablet) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto auto;
            grid-template-areas:
                "cf-price-label cf-button"
                "cf-price-value cf-button"
                "cf-show-details cf-button";
        }
    }

    &__price-label {
        grid-area: cf-price-label;
        align-self: flex-end;
        justify-self: end;

        font-weight: 500;
        font-size: to-rem(11px);
        line-height: to-rem(16px);

        @include media(tablet) {
            align-self: flex-end;
            justify-self: start;
        }
    }

    &__price-value {
        grid-area: cf-price-value;
        align-self: flex-end;
        justify-self: end;

        font-weight: 700;
        font-size: to-rem(28px);
        line-height: to-rem(28px);

        @include media(tablet) {
            align-self: center;
            justify-self: start;
        }
    }

    &__show-details {
        grid-area: cf-show-details;
        align-self: flex-end;
        justify-self: start;

        position: relative;
        display: flex;
        font-size: to-rem(13px);
        line-height: to-rem(16px);
        color: var(--color-link);

        @include media(tablet) {
            align-self: center;
            justify-self: start;
        }
    }

    .button {
        grid-area: cf-button;

        @include media(tablet) {
            align-self: center;
        }
    }

    &.is-hidden {
        display: none;
    }
}
