@use "@styles/settings/variables" as *;
@use "@styles/tools/functions" as *;
@use "@styles/tools/mixins" as *;

.filters {
    &__layout {
        text-align: center;
    }

    &__panel {
        display: none;
        background-color: var(--filters-panel-bg);
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        z-index: 80;

        @include media(tablet) {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: to-rem(296px);
            height: 100%;
            // padding-bottom: to-rem(16px);
            box-shadow: var(--shadow-overlay);
            z-index: 70;
        }

        @include media(desktop) {
            display: block;
            box-shadow: none;
            position: relative;
            width: to-rem(264px);
            border-radius: $border-overlay-radius;
        }

        &.is-visible {
            display: block;
        }
    }

    &__panel-inner {
        height: 100%;
        overflow-y: auto;
    }

    &__toggle {
        display: flex;
        flex-direction: row;
        justify-content: center;

        @include media(tablet) {
            justify-content: flex-start;
        }

        @include media(desktop) {
            display: none;
        }
    }

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: to-rem(16px 16px);
        border-bottom: to-rem(1px) solid var(--filters-panel-border);

        @include media(desktop) {
            text-align: center;
        }
    }

    &__close {
        @include media(desktop) {
            display: none;
        }
    }

    &__fieldset {
        text-align: left;
        border: none;
        position: relative;
        padding: to-rem(48px 12px 8px 12px);

        &.is-collapsed {
            padding-bottom: to-rem(0);

            .input-wrapper,
            .checkbox-wrapper,
            .button:not(.js-legend-button) {
                display: none;
            }
            .filters__legend {
                color: var(--filters-filter-name-text-default);
            }
            .filters__legend-expander {
                transform: rotate(0deg);
            }
        }

        &:not(:last-child) {
            border-bottom: to-rem(1px) solid var(--filters-panel-border);
        }
    }

    &__legend {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: to-rem(16px);
        line-height: to-rem(20px);
        padding: to-rem(0 16px);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: to-rem(48px);
        gap: to-rem(8px);
    }

    &__legend-button {
        cursor: pointer;
        color: var(--form-legend-fg);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: to-rem(8px);
        flex: 1;
        padding: 0;
        border: none;
        background: transparent;
        transition: all 0.1s ease;

        &:hover {
            color: var(--form-legend-fg-hover);
        }
    }

    &__legend-text {
        text-align: left;
        flex: 1;
    }

    &__legend-expander {
        transform: rotate(90deg);
        transition: ease-in 0.2s transform;
    }
}
