@use "@styles/tools/mixins" as *;
@use "@styles/tools/functions" as *;

.header {
    &__layout {
        display: flex;
        background: var(--header-bg);
        padding: to-rem(8px 16px);
        height: to-rem(64px);
        position: relative;
        z-index: 80;

        &::after {
            content: "";
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            border-bottom: to-rem(1px) solid var(--header-border-color);
        }

        @include media(mobile) {
            padding: to-rem(8px 16px);
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        @include media(tablet) {
            padding: to-rem(16px 16px);
            height: to-rem(80px);
        }

        @include media(laptop) {
            justify-content: space-between;
            align-items: center;
            position: relative;
            padding: to-rem(16px 16px);
        }
    }

    &__logo {
        flex-basis: 50%;
        flex-shrink: 1;
        flex-grow: 0;
    }

    &__nav {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: auto;
    }

    &__actions {
        flex-basis: 50%;
        flex-shrink: 1;
        flex-grow: 0;

        display: flex;
        justify-content: flex-end;

        z-index: 60;

        .button--primary {
            display: none;
        }

        @include media(laptop) {
            .button--primary {
                display: block;
            }
        }
    }

    &__burger.button {
        background: transparent;

        @include media(laptop) {
            display: none;
        }
    }
}
