@use "@styles/tools/functions" as *;

.icon {
    display: block;

    &--16 {
        width: to-rem(16px);
        height: to-rem(16px);
    }

    &--24 {
        width: to-rem(24px);
        height: to-rem(24px);
    }

    &--32 {
        width: to-rem(32px);
        height: to-rem(32px);
    }

    &--90deg {
        transform: rotate(90deg);
    }
}
