@use "@styles/settings/tokens";
@use "@styles/tools/mixins" as *;
@use "@styles/tools/functions" as *;

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-logo);

    &:hover {
        color: var(--color-logo);
    }

    &__img {
        height: to-rem(32px);

        @include media(tablet) {
            height: to-rem(40px);
        }
    }

    &__text {
        font-weight: 500;
        font-size: to-rem(24px);
        padding-left: to-rem(8px);
        position: relative;

        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: to-rem(3px);
            height: 100%;
            background-color: var(--color-logo);
        }

        @include media(tablet) {
            font-size: to-rem(32px);
            padding-left: to-rem(12px);

            &:before {
                width: to-rem(4px);
            }
        }
    }
}
