@use "@styles/settings/tokens";
@use "@styles/settings/variables" as *;
@use "@styles/tools/functions" as *;
@use "@styles/tools/mixins" as *;

.popover {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    text-align: initial;
    overflow: hidden;
    z-index: 90;
    color: var(--popover-fg);
    background: var(--popover-bg);
    padding: to-rem(20px 16px 16px);

    @include media(tablet) {
        position: absolute;
        top: to-rem(20px);
        left: to-rem(-4px);
        width: to-rem(320px);
        height: auto;
        z-index: 60;
        border-radius: $border-overlay-radius;
        border: $border-overlay-width solid var(--popover-border-color);
        box-shadow: var(--shadow-overlay);
        padding: to-rem(20px 12px 12px);
    }

    &.is-visible {
        display: block;
    }

    &__close {
        position: absolute;
        right: to-rem(2px);
        top: to-rem(4px);
        background: transparent;
        border: none;
        cursor: pointer;
        color: var(--color-icon-base);

        &:hover {
            color: var(--color-icon-hover);
        }
    }
}
