@use "@styles/settings/variables" as *;
@use "@styles/tools/functions" as *;
@use "@styles/tools/mixins" as *;

.summary {
    display: flex;
    flex-direction: column;
    gap: to-rem(8px);

    &__title {
        font-size: to-rem(18px);
        line-height: to-rem(24px);
        font-weight: 500;
    }

    &__info {
        font-size: to-rem(14px);
        line-height: to-rem(18px);
        font-weight: 500;
    }

    &__list {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 0.5rem 1rem;
        align-items: baseline;
        font-size: to-rem(14px);
        border-top: to-rem(1px) solid var(--summary-border-color);
        padding-top: to-rem(8px);
    }

    &__term {
        font-weight: 300;
        text-align: left;
        white-space: nowrap;
    }

    &__description {
        margin: 0;
        text-align: right;
        line-height: to-rem(18px);
        font-weight: 500;
    }
}
