@font-face {
    font-family: "Sora variable";
    src: url("/src/assets/fonts/Sora-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}
