@use "@styles/settings/variables" as *;

:root {
    /***************/
    /* Propiedades */
    /***************/

    /* Logo */
    --color-logo: var(--color-tertiary-dark); /* Color del logo */

    /* Texto genérico (negro sobre fondo claro) */
    --color-text-base: var(--color-gray-900);
    --color-text-base-inverted: var(--color-gray-100);
    --color-text-muted: var(--color-gray-700);
    --color-text-muted-inverted: var(--color-gray-300);
    --color-text-disabled: var(--color-gray-500);
    --color-text-disabled-inverted: var(--color-gray-500);

    /* Títulos y encabezados */
    // --color-text-heading: var(--color-text-base);
    // --color-text-subheading: var(--color-text-muted);

    /* Icons */
    --color-icon: var(--color-text-base);
    --color-icon-hover: var(--color-text-muted);

    /* Enlaces y acciones */
    --color-link: var(--color-primary); /* Color morado/uva, marca */
    --color-link-hover: var(--color-primary-light); /* Versión clara o hover */

    /***************/
    /* Componentes */
    /***************/

    /* Body (viewport) */
    --body-bg: var(--color-gray-500);
    --body-fg: var(--color-text-base);

    /* App (interfaz) */
    --app-bg: var(--color-surface-light);
    --app-fg: var(--color-text-base);

    /* Header */
    --header-bg: var(--color-tertiary-light);
    --header-fg: var(--color-gray-100);
    --header-border-color: var(--color-tertiary-dark);

    /* Button */
    --button-primary-fg: var(--color-gray-100);
    --button-primary-bg: var(--color-primary);
    --button-primary-bg-hover: var(--color-primary-dark);
    --button-secondary-fg: var(--color-primary);
    --button-secondary-fg-hover: var(--color-primary-dark);
    --button-secondary-bg: var(--color-gray-100);
    --button-secondary-bg-hover: var(--color-gray-200);
    --button-danger-fg: var(--color-gray-100);
    --button-danger-bg: var(--color-danger);
    --button-danger-bg-hover: var(--color-danger-hover);

    /* Intro */
    --intro-title-fg: var(--color-primary);
    --intro-subtitle-fg: var(--color-gray-700);

    /* Card */
    --card-tag-fg: var(--color-tertiary-light);
    --card-tag-bg: var(--color-tertiary-dark);
    --card-body-bg: var(--color-surface);
    --card-footer-bg: linear-gradient(to bottom, var(--color-surface), var(--color-surface-dark));

    /* Popover */
    --popover-bg: var(--color-surface);
    --popover-fg: var(--color-text-base);
    --popover-border-color: var(--color-surface-border);

    /* Summary */
    --summary-border-color: var(--color-surface-border);

    /* Footer */
    --footer-border-color: var(--color-secondary);
    --footer-main-bg: var(--color-secondary-light);
    --footer-main-fg: var(--color-secondary-dark);
    --footer-copyright-bg: var(--color-secondary);
    --footer-copyright-fg: var(--color-gray-100);
}
