@use "sass:color";
@use "@styles/settings/colors" as *;
@use "@styles/tools/functions" as *;

$shadow-offset-x: 0;
$shadow-offset-y: to-rem(2px);
$shadow-blur: to-rem(4px);

$shadow-hover-offset-y: to-rem(4px);
$shadow-hover-blur: to-rem(8px);

$shadow-disabled-offset-y: 0;
$shadow-disabled-blur: 0;

:root {
    --button-shadow: 0 #{$shadow-offset-y} #{$shadow-blur} var(--color-shadow);
    --button-shadow-hover: 0 #{$shadow-hover-offset-y} #{$shadow-hover-blur} var(--color-shadow-hover);
    --button-shadow-disabled: 0 #{$shadow-disabled-offset-y} #{$shadow-disabled-blur} var(--color-shadow-disabled);
}
